body{
  background-color: #fdfffc;
  width: 100%;
  height: 700px;
  font-family: 'Noto Sans', sans-serif;
  font-stretch: expanded;
}

/* ################  estilos gerais  #######################*/
.bt_geral{
 margin: 10px;
 background-color: #EEE;
 width: 120px;
 height: 30px;
 border-radius: 5px;
 transition: 0.3s;
 border-style: solid;
 border-color: #0C7489;
}
.bt_geral:hover{background-color: #0C7489; color:#fdfffc; transition: 0.3s;}
.bt_geral:active{background-color: #3DA5D9; color:#fdfffc; border-color: #3DA5D9; transition: 0.2s;}

.bloco_interno{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

select{
  width: 300px;
}

td{
  padding: 5px;
}

.td_link{
  text-align: center;
  font-weight: 400;
  background-color: #E9724C;
  color: #EEE;
  text-decoration: none;
}

.legenda{
  color: #0C7489;
  font-weight: 800;
}

.legenda_input{
  color: #0C7489;
  margin-right: 20px;
  float: left;
  margin-top: 12px;
}

.titulo{
  color: #E9724C;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;


}

.tab_lista{
  border-collapse: collapse;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 10px;
}

.linha_lista{
  cursor: pointer;
  border-collapse: collapse;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDD;
}
.linha_lista:hover{ background-color: rgba(61, 165, 217, 0.1)}
.linha_lista:active{ background-color: rgba(61, 165, 217, 0.2)}
.linha_lista_checked{ background-color: rgba(61, 165, 217, 0.3)}

h3{
  color: #65655e;
  font-family: 'Noto Sans', sans-serif;
}

.fundo_feedback{
  text-align: center;
  display: none;
  position: absolute;
  z-index: 1000;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(253, 255, 252,0.8);
  transition: 0,7s;
}

.img_feedback{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.about{
  float: right;
  height: 20px;
  margin-right: 5px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 5px;
  vertical-align: text-bottom;
}

/* ################  estilo div principal  ##################### */
#tela_app{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #F4F0D4;
  width: 1000px;
  height: 650px;
}

#barra_sup{
  background-color: #E9724C;
  color: #65655e;
  height: 30px;
  width: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bt_telas{
      display: block;
      color: #65655e;
      text-align: center;
      margin-right: 5px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      height: 20px;
      text-decoration: none;
      float: left;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      font-stretch: expanded;
      font-size: 16px;
      transition: 0.7s;
      cursor: pointer;

}
.bt_telas:hover{ color: #fdfffc; transition: 0.2s; }
.bt_telas:active{ color: #AAA; }

/* ################  estilos tela busca  ##################### */
#repositorios_git{
  width: 80%;
  height: 350px;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #fdfffc;
}

#cabecalho_repositorios_git{
  width: 80%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #65655e;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#barra_inferior_botoes_git{
  height: 100%;
  width: 80%;
  text-align: right;
}

#barra_superior_botoes_git{
  height: 100%;
  width: 80%;
  text-align: right;
}

/* ################  estilos tela dados armazenados  ##################### */
#repositorios_armazenados{
  width: 80%;
  height: 350px;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #fdfffc;
}

#cabecalho_repositorios_armazenados{
  width: 80%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: #65655e;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#barra_botoes_armazenados{
  height: 100%;
  width: 80%;
  text-align: right;
}
