body{
  background-color: #DDD;
  width: 100%;
  height: 700px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-stretch: expanded;
}

/* ################  estilos gerais  #######################*/
.bt_geral{
 margin: 10px;
}

.bloco_interno{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

select{
  width: 300px;
}

td{
  padding: 5px;
}

.td_link{
  text-align: center;
  font-weight: 400;
  background-color: orange;
  color: #EEE;
}

.legenda{
  color: orange;
  font-weight: 800;

}

.tab_lista{
  border-collapse: collapse;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 10px;
}

.linha_lista{
  cursor: pointer;
  border-collapse: collapse;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFF;
}
.linha_lista:hover{ background-color: rgba(0,0,0,0.1)}
.linha_lista:active{ background-color: rgba(0,0,0,0.2)}
.linha_lista_checked{ background-color: rgba(0,0,0,0.2)}

h3{
  color: #999;
  font-family: 'Noto Sans', sans-serif;
}

.fundo_feedback{
  text-align: center;
  display: none;
  position: absolute;
  z-index: 1000;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  /*background-color: rgb(255,255,255);*/
  background-color: rgba(255,255,255,0.75);
  transition: 0,5s;
}

.img_feedback{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

/* ################  estilo div principal  ##################### */
#tela_app{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #EEE;
  width: 1000px;
  height: 600px;
}

#barra_sup{
  background-color: #777;
  color: #AAA;
  height: 30px;
  width: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.bt_telas{
      display: block;
      color: #DDD;
      text-align: center;
      margin-right: 5px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      height: 20px;
      text-decoration: none;
      float: left;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      font-stretch: expanded;
      font-size: 16px;
      transition: 0.7s;
      cursor: pointer;

}
.bt_telas:hover{ color: #FFDD09; transition: 0.2s; }
.bt_telas:active{ color: #AAA; }

/* ################  estilos tela busca  ##################### */
#repositorios_git{
  width: 80%;
  height: 400px;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #DDD;
}

#cabecalho_repositorios_git{
  width: 80%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #888;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#barra_inferior_botoes_git{
  height: 100%;
  width: 80%;
  text-align: right;
}

#barra_superior_botoes_git{
  height: 100%;
  width: 80%;
  text-align: right;
}

/* ################  estilos tela dados armazenados  ##################### */
#repositorios_armazenados{
  width: 80%;
  height: 400px;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #DDD;
}

#cabecalho_repositorios_armazenados{
  width: 80%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  background-color: #888;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#barra_botoes_armazenados{
  height: 100%;
  width: 80%;
  text-align: right;
}
